# Python-specific files
*.pyc
__pycache__/
.pytest_cache/
.venv/
venv/

# Editor/IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Git-related files
.git/
.gitignore

# Database files (if using SQLite)
*.sqlite3
db.sqlite3

# Environment variables
.env
.env.*

# Logs and temporary files
*.log
tmp/
logs/

# Docker-related files (optional, as they are usually not needed in the image)
Dockerfile
docker-compose.yml
.dockerignore